altgraph==0.17.3
annotated-types==0.5.0
aspose-words==23.6.0
certifi==2023.11.17
charset-normalizer==3.3.2
docx==0.2.4
greenlet==3.0.1
idna==3.6
importlib-metadata==6.6.0
langchain==0.0.27
lxml==4.9.2
numpy==1.21.6
opencv-python==4.8.0.74
pefile==2023.2.7
Pillow==9.5.0
pydantic==2.5.2
pydantic-core==2.14.5
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
python-docx==0.8.11
pywin32-ctypes==0.2.0
PyYAML==6.0.1
requests==2.31.0
SQLAlchemy==2.0.23
typing-extensions==4.7.1
urllib3==2.0.7
zipp==3.15.0
