/*st.title*//*e16nr0p33 для deploy*/
div.css-zt5igj.e1nzilvr4  {
  font-weight: 600;
  font-size: 30px;
}

/*logo*//*etr89bj2*/
div.css-1kyxreq.e115fcil2 {
  margin-left: 30px;
}

/*main container*//*egzxvld4*/
div.css-1y4p8pa.ea3mdgi4 {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
}

/*header*/
h1 {
  padding-top: 10px;
  z-index: 10;
}

/*sidebar*/
div.css-10oheav.eczjsme4 {
  padding-top: 15px;
}