/*st.title*//*e16nr0p33 для deploy*/
[class="st-emotion-cache-1p9ibxm e1icttdg2"]  {
  font-weight: 600;
  font-size: 30px;
}

/*main container*//*egzxvld4*/
[data-testid="stMainBlockContainer"] {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1300px;
}

/*header*/
h1 {
  padding-top: 10px;
  z-index: 10;
}

/*sidebar*/
[data-testid="stSidebarContent"] {
  padding-top: 15px;
}

/* селектор логотипа*/
[class="st-emotion-cache-7czcpc evl31sl1"] {
  margin-bottom: 20px;
  margin-left: 40px;
}

[class="st-aj st-ak st-bc st-bd st-be st-ar st-bf st-bg st-aq st-bh st-bi st-bj st-bk"] {
  background-color: white;
}

.st-emotion-cache-ll3k8d input {
  background-color: white;
}

[data-testid="stBaseButton-secondary"] {
  background-color: white;
}