/*st.title*//*e16nr0p33 для deploy*/
div.css-zt5igj.e1nzilvr4  {
  font-weight: 600;
  font-size: 30px;
}

/*main container*//*egzxvld4*/
[data-testid="stAppViewBlockContainer"] {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1300px;
}

/*header*/
h1 {
  padding-top: 10px;
  z-index: 10;
}

/*sidebar*/
div.css-10oheav.eczjsme4 {
  padding-top: 15px;
}

/* селектор по значению атрибута логотипа*/
[style="width: 110px;"] {
  margin-bottom: 20px;
  margin-left: 40px;
}

[class="st-emotion-cache-saxznz e1nzilvr4"] {
  color: white;
}